#SideNav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#SideNav a:hover {
    left: 0
}

#github {
    top: 30%;
    background-color: #4CAF50;
    z-index: 50;
}

#linkedin {
    top: 40%;
    background-color: #2196F3;
    z-index: 50;
}

#resume {
    top: 50%;
    background-color: #f44336;
    z-index: 50;
}

#email {
    top: 60%;
    background-color: purple;
    z-index: 50;
}

@media (max-width: 600px) {
    #github {
        visibility: hidden;
    }
    
    #linkedin {
        visibility: hidden;
    }
    
    #resume {
        visibility: hidden;
    }
    
    #email {
        visibility: hidden;
    }
}

