.self {
    width: 50%;
    height: 50%;
    border-radius: 50%
}

.info {
    background-color: rgba(112, 168, 180, 25%);
    border-radius: 6px;
    color: whitesmoke
}

@media (max-width: 700px) {
    .info {
        font-size: 16px
    }
}

@media (max-width: 500px) {
    .info {
        font-size: 14px
    }
}

@media (max-width: 380px) {
    .info {
        font-size: 12px
    }
}
