.btnPosition {
    width: 100%
}
.btnContainer {
    width: 50%;
}

.btnPosition:hover {
    background-color: turquoise;
}

.prevarrow .tooltipprev,
.nextarrow .tooltipnext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 12px;

    /* Position hover message */
    position: absolute;
    z-index: 1;
    top: -5px;
}

.nextarrow .tooltipnext {
    left: 105%;
}

.prevarrow .tooltipprev {
    right: 155%;
}
.prevarrow:hover .tooltipprev,
.nextarrow:hover .tooltipnext {
    visibility: visible
}


span {
    transition-property: transform;
    transition-duration: 0.5s
}
span:hover {
    transform: rotate(360deg)
}

.title {
    background-color: rgba(0,38,38,25%);
    color: whitesmoke;
}

@media (max-width: 700px) {
    .title {
        font-size: 24px;
    }
}